
body, h1, h2, h3, h4, p, div, a, span, pre {
    letter-spacing: 0.5px;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Open Sans Light', sans-serif !important;
}

header {
    position: relative;
    width: 100%;
    overflow-y: auto;
    background: -webkit-linear-gradient(124deg, #e35f38, #b83bc0);
    background: linear-gradient(124deg, #e35f38, #b83bc0);
    color: white;
}

nav {
    height:88px;
    z-index: 1000;
}

nav a.navbar-brand > img {
    width: 128px;
    height: 26px;
    object-fit: contain;
    margin-top: 17px;
}

nav #navbar > ul {
    float: right;
    margin-top: 18px;
    margin-right: 80px;
}

nav #navbar ul li {
    margin-right: 15px;
}

nav #navbar ul li a {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: rgba(255,255,255,0.5)
}

.navbar-fixed-top-inactive #navbar ul {
    margin-top: 10px;
}

nav #navbar ul li a:hover {
    color: rgba(255,255,255,1)
}


nav #navbar ul li a.active {
    color: rgba(255,255,255,1)
}


nav #navbar ul li a .second-line{
    font-size: 12px;
    font-weight: normal;
}

nav #ul_nav > li.dropdown.open > a {
    padding-bottom: 5px;
}

nav #ul_nav > li.dropdown.open > ul {
    margin-left: 18px;
}

nav #ul_nav > li.dropdown.open > ul a {
    font-size: 11px;
    font-weight: normal;
    line-height: 2.0;
    letter-spacing: normal;
    text-align: left;
}

header .header-content {
    text-align: center;
    margin-top: 60px;
    position: relative;
    min-width: 270px;
}

header .header-content .header-content-inner {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 100;
    text-align: left;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 34px;
    line-height: 1.24;
}

div#header-tutorial .header-content-inner, div#header-usage .header-content-inner {
    text-align: center;
}

div#header-tutorial .header-content-inner h1, div#header-usage .header-content-inner h1 {
    margin-bottom: 0px;
}

header button img.arrow-down {
    width: 21px;
    height: 13px;
    object-fit: contain;
    margin-top:60px;
    margin-bottom:54px;
    cursor: pointer;
}
header button , header button:focus{
    background: none;
    border: none;
    outline: none;
    cursor: default;
}

header#header-usecase {
    min-height: 556px;
}

header#header-usecase .header-content .header-content-inner{
    text-align: center;
}

header#header-usecase .header-content .header-content-inner h1 {
    margin-bottom: 0px;
}

header#header-usecase button img.arrow-down {
    width: 21px;
    height: 13px;
    object-fit: contain;
    margin-top:60px;
}

header .header-content .header-content-inner h3 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
}

header .navbar-inverse {
    background: none;
    border: none;
}

header img.angeltalk-logo {
    width: 333px;
    height: 56px;
    margin-top: 84px;
    object-fit: contain;
}

header .badges {
    text-align: left;
}

header .badges img {
    width: 161px;
    height: 48px;
    margin-top: 40px;
    object-fit: contain;
}

header .phone-screen img {
    width: 270px;
    height: 428px;
    object-fit: contain;
    padding: 55px 0 0 0;
    margin-left: 0;
}

header img.angeltalk-angelee {
    width: 134px;
    height: 113px;
    margin-top: 38px;
    object-fit: contain;
}

header button img.arrow-down {
    width: 21px;
    height: 13px;
    object-fit: contain;
    margin-top:139px;
}

header button img.arrow-down.arrow-no-margin {
    margin-top:60px;
}


section.banners {
    min-height: 100px;
    overflow-y: auto;
    background-color: #ffffff;
    border: solid 1px #eeeeee;
}

section a {
    text-decoration: none!important;
}

section.banners div.row {
    margin-top: 20px;
    max-width: 1000px;
}

section img.banner-image {
    width: 200px;
    height: 60px;
    object-fit: contain;
}

section.features {
    text-align: center;
    background-color: #ffffff;
}

section.features div.feature-item {
    max-width: 400px;
    min-height: 328px;
    border-radius: 10px;
    border: solid 1px #d5d5d5;
}

section.features div.feature-items {
    margin: 0 auto 82px auto;
}

section.features div.features-title > h1 {
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    margin: 54px 0;
    color: #2c2c2c;
}

section.features div.row {
    max-width: 844px;
    margin-bottom: 30px;
}

section.features div.feature-item:hover {
    background-color: rgba(0,0,0,0.1);
}

section.features div.feature-item > img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    object-fit: contain;
}

section.features div.feature-item > h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #2c2c2c;
}

section.features div.feature-item > p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    text-align: center;
    padding: 0 20px;
}

section.video {
    background-color: rgba(0, 0, 0, 0.5);
}

section.video iframe{
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left: 0;
}

section.video div.row {
    max-width: 800px;
}

section.tab-section div.tutorials{
    max-width: 920px;
    margin-top: 100px;
}

section.tab-section .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 230px;
    text-align: center;
}

section.tab-section li.active > a {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #000000;
    border: none;
    border-bottom: 2px solid #000000;
}

section.tab-section li.active > a:hover {
    border: none;
    border-bottom: 2px solid #000000;
    background-color: transparent;
}

section.tab-section li.active > a:focus {
    border: none;
    border-bottom: 2px solid #000000;
    background-color: transparent;
}

section.tab-section li > a {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #a9a9a9;
}

section.tab-section li > a:hover {
    background-color: transparent;
    border-color: transparent;
}

section.tab-section li > a:focus {
    background-color: transparent;
    border-color: transparent;
}

section.tab-section div.tab-pane {
    margin-top: 60px;
}

section.tab-section div.tutorials div.video,
section.video div.video {
    width: 800px;
    height: 480px;
    background-color: #d7d7d7;
}

section.tab-section div.tab-pane p {
    max-width: 800px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    margin-top: 54px;
}

section.tab-section div.tab-pane pre {
    max-width: 800px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    text-align: left;
    color: #7f7f7f;
    white-space: pre-line;
    margin-top:40px;
}

section.tab-section div.tab-pane pre span{
    font-weight: bold;
}

section.tab-section div.tab-pane pre span.italic{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.71;
}

section.tab-section div.tab-pane pre.under  {
    font-size: 13px;
    line-height: 1.5;
    text-align: left;
    white-space: pre-line;
    margin-bottom: 100px;
}

section.introduce {
    height:446px;
}

section.introduce img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-top:100px;
}

section.introduce pre {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c2c;
    margin-top:30px;
    white-space: pre-line;
}

section.introduce pre span {
    font-weight: normal;
}

section.momsdiary p {
    width: 201px;
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 54px;
    margin-bottom: 54px;
}

section.momsdiary div.row {
    max-width: 740px;
    min-width: 305px;
}

section.momsdiary img.line {
    width: 20px;
    height: 1676px;
    object-fit: contain;
}

section.momsdiary div.diary{
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #d5d5d5;
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 30px;
}

section.momsdiary div.diary:nth-child(1) {
    height: 217.9px;
    padding-bottom: 16px;
    margin-bottom: 54px;
}

section.momsdiary div.diary:nth-child(2) {
    height: 193.9px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

section.momsdiary div.diary:nth-child(3) {
    height: 313.8px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

section.momsdiary div.diary:nth-child(4) {
    height: 385.8px;
    padding-bottom: 16px;
    margin-bottom: 44px;
}

section.momsdiary div.diary:nth-child(5) {
    height: 385.8px;
    padding-bottom: 16px;
    margin-bottom: 54px;
}

section.momsdiary div.diary pre {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #2c2c2c;
    white-space: pre-line;
    margin: 0px;
}

section.momsdiary div.diary:nth-child(1) pre {
    height: 168px;
}

section.momsdiary div.diary:nth-child(2) pre {
    height: 122px;
}

section.momsdiary div.diary:nth-child(3) pre {
    height: 242px;
}

section.momsdiary div.diary:nth-child(4) pre {
    height: 338px;
}

section.momsdiary div.diary:nth-child(5) pre {
    height: 338px;
}

section.momsdiary div.diary pre span {
    font-size: 16px;
    font-weight: bold;
}

section#privacy_policy {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    white-space: pre-line;
    max-width: 800px;
}

section#privacy_policy h1 {
    font-size: 16px;
    font-weight: bold;
    color: #2c2c2c;
}

section#privacy_policy h2 {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

section#privacy_policy h3 {
    font-size: 14px;
    font-weight: bold;
    color: #7f7f7f;
}

section#privacy_policy p {
    font-size: 14px;
    color: #7f7f7f;
}

section#privacy_policy ul {
    padding: 0;
}

section#privacy_policy li {
    font-size: 14px;
    color: #7f7f7f;
    list-style: none;
    margin-bottom: -24px;
}

footer {
    background-color: #f9f9f9;
}

footer div.row {
    max-width: 540px;
}

footer div.footer-title {
    min-height: 325px;
    overflow-y: auto;
}

footer div.footer-title > p {
    margin-top: 71px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.29;
    text-align: center;
}

footer div.feature-items {
    margin-top: 54px;
}

footer div.feature-item p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.29;
    text-align: left;
    float: left;
    color: #2c2c2c;
}

footer div.feature-item > img {
    margin-top : 3px;
}

footer img.location-icon {
    width: 11px;
    height: 11px;
    object-fit: contain;
}

footer img.email-icon {
    width: 19px;
    height: 12px;
    object-fit: contain;
}

footer img.feedback-button {
    width: 180px;
    height: 38px;
    margin-top: 54px;
    margin-bottom: 54px;
}

footer div.footer-bottom {
    width: 100%;
    height: 100px;
    background-color: #292929;
    font-size: 22px;
    line-height: 1.0;
    text-align: left;
    color: #a9a9a9;
}

footer div.footer-bottom .row {
    margin-top: 33px;
    max-width: 960px;
}

footer div.footer-bottom .row p {
    margin-top: 6px;
    margin-left: 40px;
    cursor: pointer;
}

footer div.footer-bottom ul {
    font-size: 12px;
    list-style: none;
    float: right;
    margin-right: 40px;
    text-align: right;
}

footer div.footer-bottom ul > li:nth-child(2) {
    margin-top: 7px;
    text-decoration: underline;
    cursor: pointer;
}

footer div.footer-bottom ul a {
    color: #a9a9a9;
    text-decoration: none;
}



@media (max-width: 767px) {

    section.features div.row > div:first-child {
        margin-bottom: 30px;
    }

    .col-width-100 {
        width: 100%;
    }

    .no-side-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    footer div.footer-bottom {
        height: 130px;
    }

    footer div.footer-bottom ul {
        margin-right: 0;
        min-width: 300px;
    }

    section.video iframe{
        width: 290px;
        height: 300px;
        top:0;
        bottom:0;
        left: 0;
    }

    section.tab-section div.tutorials div.video,
    section.video div.video {
        width: 290px;
        height: 300px;
        background-color: #d7d7d7;
    }

    #header_body > button > img {
        margin-top: 50px;
    }

    #navbar {
        height: 312px;
    }

    nav #navbar > ul {
        margin-right: 0px;
        background-color: rgba(0, 0, 0, 0.9);;
        margin-top: 0px;
        width: 100%;
    }

    .navbar-toggle .icon-bar {
        background-color: white;
    }

    .navbar-toggle {
        margin-top: 29px;
        margin-right: 5px;
    }

    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-fixed-top-inactive #navbar ul {
        margin-top: 16px;
    }

    img.angeltalk-logo {
        max-width: 260px;
    }

    #language_dropdown_menu.open {
        display: block;
        visibility: hidden;
    }

    .nav-tabs-area {
        min-width : 290px;
        overflow-x: scroll;
    }

    ul.nav.nav-tabs {
      width: 360px;
    }

    ul.nav.nav-tabs > li {
        width: 25%
    }

    ul.nav.nav-tabs > li.second {
        width: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }

    section.tab-section li > a, section.tab-section li.active > a {
        letter-spacing: normal;
        padding-left: 0px;
        padding-right: 0px;
    }

    li.mobile-language-list {
        display: block!important;
    }

    li.mobile-language-list > a {
        padding-top: 6px;
        padding-left: 30px;
        font-weight: normal!important;
    }

    section.tab-section div.tutorials{
        margin-top: 50px;
    }
}

.mobile-language-list {
    display: none!important;
}